html {
  box-sizing: border-box;
}
* {
  box-sizing: inherit;
}
body {
  font-family: OpenSans, sans-serif;
  background-color: #1d2631;
}
.photo-body {
  background-color: #ffffff;
}
.wrapper-layout-center {
  width: auto;
  max-width: 620px;
  margin: 0 auto;
  outline: 1px dashed red;
}
@media (min-width: 700px) {
  .wrapper-layout-center {
    width: 89%;
    margin: 0 auto;
    max-width: 940px;
  }
}
.disabled {
  pointer-events: none;
  cursor: default;
}
@font-face {
  font-family: "OpenSans";
  src: url("../fonts/OpenSansRegular/OpenSansRegular.eot");
  src: url("../fonts/OpenSansRegular/OpenSansRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSansRegular/OpenSansRegular.woff") format("woff"), url("../fonts/OpenSansRegular/OpenSansRegular.ttf") format("truetype");
}
@font-face {
  font-family: "OpenSansLight";
  src: url("../fonts/OpenSansLight/OpenSansLight.eot");
  src: url("../fonts/OpenSansLight/OpenSansLight.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSansLight/OpenSansLight.woff") format("woff"), url("../fonts/OpenSansLight/OpenSansLight.ttf") format("truetype");
}
.page-header {
  display: flex;
  flex-direction: column;
  background-image: url("../img/page-header-bg.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.page-header__inner-wrapper {
  width: auto;
  max-width: 620px;
  margin: 0 auto;
  outline: 1px dashed red;
  background-image: url("../img/page-header-bg_hand.png");
  background-repeat: no-repeat;
  background-position: center top 90px;
  background-size: 320px;
}
@media (min-width: 700px) {
  .page-header__inner-wrapper {
    width: 89%;
    margin: 0 auto;
    max-width: 940px;
  }
}
.photo-body .page-header__inner-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 173px;
  background-image: none;
}
.page-header__photo-title {
  margin: 0;
  color: rgba(255, 255, 255, 0.8);
  text-align: center;
  font-size: 24px;
  font-weight: 100;
}
@media (min-width: 700px) {
  .page-header__inner-wrapper {
    background-position: bottom right 5%;
    background-size: 470px;
  }
}
.main-nav {
  position: relative;
}
.main-nav_closed {
  background-color: rgba(0, 0, 0, 0.3);
}
.main-nav_opened {
  background-color: #283645;
}
.main-nav__visible {
  display: flex;
  align-items: center;
  min-height: 70px;
  padding: 0px 20px;
  background-color: transparent;
}
.main-nav__toggle {
  position: relative;
  margin-left: auto;
  flex-basis: 50px;
  height: 25px;
  background-color: transparent;
  border: none;
}
.main-nav_opened .main-nav__toggle:before,
.main-nav_opened .main-nav__toggle:after {
  content: "";
  position: absolute;
  top: 10px;
  right: 0px;
  width: 30px;
  height: 5px;
  background-color: #ffffff;
  border-radius: 3px;
}
.main-nav_opened .main-nav__toggle:before {
  transform: rotate(45deg);
}
.main-nav_opened .main-nav__toggle:after {
  transform: rotate(-45deg);
}
.main-nav_opened .main-nav__toggle:hover::before,
.main-nav_opened .main-nav__toggle:hover::after {
  background-color: #d22856;
}
.main-nav_opened .main-nav__toggle:active::before,
.main-nav_opened .main-nav__toggle:active::after {
  opacity: 0.3;
}
.main-nav_closed .main-nav__toggle::before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: #ffffff;
  width: 50px;
  height: 4px;
  box-shadow: 0 10px 0 0 #ffffff, 0 20px 0 0 #ffffff;
}
.main-nav_closed .main-nav__toggle:hover::before {
  background-color: #d22856;
  box-shadow: 0 10px 0 0 #d22856, 0 20px 0 0 #d22856;
}
.main-nav_closed .main-nav__toggle:active::before {
  opacity: 0.3;
}
.main-nav__list {
  position: absolute;
  top: 70px;
  left: 0;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
}
.main-nav__item a {
  display: block;
  width: 100%;
  padding: 15px 0;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid #000000;
  background-color: #283645;
  font-size: 18px;
  line-height: 32px;
  font-weight: bold;
  text-align: center;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
}
.main-nav__item a:hover {
  background-color: #202e3c;
}
.main-nav__item a:active {
  box-shadow: 0 0 5px 2px #000000 inset;
}
.main-nav_nojs .main-nav__visible {
  background-color: #283645;
}
.main-nav_nojs .main-nav__list {
  position: static;
  display: block;
}
@media (max-width: 1200px) {
  .main-nav_closed .main-nav__list {
    display: none;
  }
  .main-nav_opened .main-nav__list {
    display: block;
  }
}
@media (min-width: 700px) {
  .main-nav__visible {
    min-height: 110px;
    padding: 0;
  }
  .main-nav__list {
    top: 110px;
  }
}
@media (min-width: 1200px) {
  .main-nav__logo {
    margin-right: 170px;
  }
  .main-nav__toggle {
    display: none;
  }
  .main-nav__list {
    position: static;
    display: flex;
    justify-content: space-between;
  }
  .main-nav__list .main-nav__item a {
    position: relative;
    display: block;
    padding: 75px;
    padding: 0;
    background-color: transparent;
    border: none;
  }
  .main-nav__list .main-nav__item a:hover {
    background-color: transparent;
  }
  .main-nav__list .main-nav__item a:hover::after {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 0;
    right: 0;
    height: 2px;
    background-color: #ffffff;
  }
  .main-nav__list .main-nav__item a:active {
    color: rgba(255, 255, 255, 0.3);
  }
  .main-nav__list .main-nav__item a:active::after {
    display: none;
  }
  .main-nav__list .main-nav__item_current a:hover {
    color: #d22856;
  }
  .main-nav__list .main-nav__item_current a:hover::after {
    background-color: #d22856;
  }
  .main-nav__list .main-nav__item_current a:active {
    color: rgba(255, 255, 255, 0.3);
  }
  .main-nav__list .main-nav__item_current a:active::after {
    display: none;
  }
}
.obtain {
  padding: 30px 20px;
  margin-top: 395px;
  background-color: #1d2631;
  color: #ffffff;
}
.obtain__slogan {
  display: none;
}
.obtain__download-btn {
  display: block;
  margin-bottom: 25px;
  padding: 13px 0;
  width: 100%;
  border: 3px solid #ffffff;
  border-radius: 28px;
  font-size: 18px;
  line-height: 18px;
  font-weight: bold;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  transition: 0.3s;
}
.obtain__download-btn:hover {
  background-color: #ffffff;
  color: #d22856;
}
.obtain__download-btn:active {
  color: rgba(210, 40, 86, 0.3);
}
.obtain__resources {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 0 15px;
}
.obtain__resource {
  flex-basis: 70px;
  height: 70px;
  background: url("../img/resources-sprite.png") no-repeat 0px 0px;
  font-size: 0;
}
.obtain__resource_apple {
  background-position: 12px 5px;
}
.obtain__resource_andriod {
  background-position: -68px 5px;
}
.obtain__resource_windows {
  background-position: -147px 5px;
}
.obtain__description {
  text-align: center;
  font-size: 14px;
  line-height: 24px;
  font-weight: 100;
  color: rgba(255, 255, 255, 0.6);
}
@media (min-width: 700px) {
  .obtain {
    margin-top: 200px;
    max-width: 300px;
    padding: 0;
    background-color: transparent;
  }
  .obtain__slogan {
    display: block;
    padding: 0 40px;
    text-align: center;
    font-size: 40px;
    line-height: 40px;
    font-weight: 100;
  }
}
.features {
  background-color: #f2f2f2;
}
.features__title {
  margin: 0 auto;
  padding: 40px 0px 30px;
  background-color: #ffffff;
  text-align: center;
  font-size: 24px;
  line-height: 30px;
  font-weight: 100;
  color: #616c77;
}
.features__description b {
  display: block;
  padding: 20px 0;
  font-size: 20px;
  font-weight: 900;
}
.features__description {
  margin: 0 auto;
  padding: 0 20px;
  text-align: center;
}
.features__iphone-img {
  position: relative;
  min-height: 280px;
  margin-top: 45px;
  overflow: hidden;
  background-image: url(../img/Iphone.png);
  background-repeat: no-repeat;
  background-size: 160px auto;
  background-position: center top;
}
.features__iphone-img:nth-of-type(n+2) {
  display: none;
}
.features__img {
  display: block;
  position: absolute;
  top: 38px;
  left: 50%;
  margin-left: -70px;
  width: 140px;
  cursor: pointer;
}
@media (min-width: 700px) {
  .features__title {
    font-size: 40px;
    line-height: 40px;
    font-weight: 100;
  }
  .features__title br {
    display: none;
  }
  .features__container {
    display: flex;
    flex-wrap: wrap;
    max-height: 490px;
  }
  .features__descriptions {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 52%;
    order: 2;
  }
  .features__iphone-imgs {
    width: 48%;
    order: 1;
  }
  .features__iphone-img {
    margin: 0;
    min-height: 482px;
    background-size: 270px auto;
  }
  .features__img {
    top: 66px;
    width: 236px;
    margin-left: -118px;
  }
}
@media (min-width: 1200px) {
  .features__title-wrapper {
    padding: 0 5%;
  }
  .features__container {
    flex-direction: column;
    flex-wrap: nowrap;
    max-height: 100%;
  }
  .features__iphone-imgs {
    display: flex;
    justify-content: space-around;
    width: 100%;
  }
  .features__iphone-img {
    flex-basis: 250px;
    background-size: 190px;
    min-height: 290px;
  }
  .features__iphone-img::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 5px;
    background: url("../img/iphone-img-shadow.png") no-repeat -24px -4px;
  }
  .features__iphone-img:nth-of-type(n+2) {
    display: block;
  }
  .features__descriptions {
    flex-direction: row;
    width: 100%;
  }
  .features__description {
    flex-basis: 250px;
    margin: 0;
  }
  .features__img {
    top: 45px;
    margin-left: -83px;
    width: 166px;
  }
}
.research {
  display: none;
}
@media (min-width: 700px) {
  .research {
    display: block;
    background-color: #ffffff;
  }
  .research__wrapper {
    display: flex;
    padding: 100px 0 80px;
  }
  .research__img {
    margin-right: 60px;
    flex-basis: 240px;
    flex-grow: 0;
  }
  .research__info {
    display: flex;
    flex-direction: column;
    flex-basis: 310px;
    flex-grow: 1;
    justify-content: center;
    padding-right: 20px;
  }
  .research__slogan {
    font-size: 30px;
    line-height: 36px;
    font-weight: bold;
  }
  .research__description {
    font-size: 14px;
    line-height: 24px;
    font-weight: 100;
  }
  .research__learn-more {
    color: #d22856;
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
  }
  .research__learn-more:hover {
    text-decoration: none;
  }
  .research__learn-more:active {
    opacity: 0.6;
  }
}
@media (min-width: 1200px) {
  .research {
    background-color: #f2f2f2;
  }
  .research__wrapper {
    padding: 125px 0 110px;
  }
}
.responses {
  background-color: #ffffff;
}
.responses__wrapper {
  position: relative;
  padding-bottom: 80px;
  overflow: hidden;
}
.responses__inner-container {
  display: flex;
  width: 300%;
}
.response {
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: center;
}
.response__name {
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
}
.response__author-info {
  display: none;
}
.response__content {
  padding: 0 6%;
}
.responses__dots {
  display: flex;
  justify-content: space-between;
  position: absolute;
  bottom: 40px;
  left: 50%;
  width: 80px;
  margin-left: -40px;
}
.responses__dot {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: 3px solid transparent;
  background-color: #bec2c7;
  background-clip: content-box;
  cursor: pointer;
}
.responses__dot:hover {
  background-color: #7e868f;
}
.responses__dot:active {
  background-color: rgba(126, 134, 143, 0.4);
}
.responses__dot_current {
  border: 3px solid #283645;
  background-color: transparent;
}
.responses__prev,
.responses__next {
  display: none;
}
@media (min-width: 700px) {
  .response__name {
    margin-bottom: 0;
    order: 2;
  }
  .response__author-info {
    display: block;
    margin-top: 0;
    order: 2;
    font-size: 14px;
  }
  .response__content {
    order: 1;
  }
}
@media (min-width: 1200px) {
  .responses__prev,
  .responses__next {
    display: block;
    position: absolute;
    font-size: 40px;
    font-weight: bold;
    border: none;
    background-color: transparent;
    color: #bec2c7;
  }
  .responses__prev:hover,
  .responses__next:hover {
    color: #7e868f;
  }
  .responses__prev:active,
  .responses__next:active {
    opacity: 0.3;
  }
  .responses__prev {
    left: 0;
    top: 50%;
  }
  .responses__next {
    right: 0;
    top: 50%;
  }
  .responses__dots {
    display: none;
  }
}
.price {
  background-color: #f2f2f2;
  padding-top: 145px;
}
.price__wrapper {
  position: relative;
  overflow: hidden;
}
.price__inner-container {
  width: 100%;
  padding-bottom: 100px;
}
.price__table {
  display: flex;
  width: 300%;
}
.price__column_components {
  display: none;
}
.price__column {
  width: 100%;
}
.price__header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100px;
  text-align: center;
  background-color: #283645;
  border-right: 2px solid #e5e5e5;
  color: #ffffff;
  font-size: 24px;
  line-height: 30px;
  font-weight: 400;
  text-transform: uppercase;
}
.price__header b {
  display: block;
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
}
.price__line {
  position: relative;
  height: 60px;
  padding-top: 15px;
  padding-left: 20px;
  background-color: #ffffff;
  border-bottom: 2px solid #e5e5e5;
  border-right: 2px solid #e5e5e5;
  font-size: 14px;
  line-height: 30px;
  text-transform: uppercase;
  color: #283645;
}
.check::before {
  content: "";
  position: absolute;
  right: 40px;
  top: 70%;
  width: 20px;
  height: 4px;
  border-radius: 3px;
  background-color: #3dc644;
  transform-origin: right;
  transform: rotate(45deg);
}
.check::after {
  content: "";
  position: absolute;
  right: 40px;
  top: 70%;
  width: 35px;
  height: 4px;
  border-radius: 3px;
  background-color: #3dc644;
  transform-origin: right;
  transform: rotate(135deg);
}
.nocheck::before,
.nocheck::after {
  content: "";
  position: absolute;
  right: 20px;
  top: 50%;
  width: 35px;
  height: 4px;
  border-radius: 3px;
  background-color: #f25b26;
  transform: rotate(45deg);
}
.nocheck::before {
  transform: rotate(45deg);
}
.nocheck::after {
  transform: rotate(-45deg);
}
.price__dots {
  display: flex;
  justify-content: space-between;
  position: absolute;
  bottom: 40px;
  left: 50%;
  width: 80px;
  margin-left: -40px;
}
.price__dot {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: 3px solid transparent;
  background-color: #bec2c7;
  background-clip: content-box;
  cursor: pointer;
}
.price__dot:hover {
  background-color: #7e868f;
}
.price__dot:active {
  background-color: rgba(126, 134, 143, 0.4);
}
.price__dot_current {
  border: 3px solid #283645;
  background-color: transparent;
}
@media (min-width: 700px) {
  .price__wrapper {
    overflow: visible;
  }
  .price__table {
    width: 100%;
  }
  .price__column_components {
    display: block;
  }
  .price__column_components .price__header {
    background-color: transparent;
  }
  .price__dots {
    display: none;
  }
  .price__line {
    min-height: 45px;
  }
  .price__line span {
    display: none;
  }
  .price__line_first {
    border-top: 2px solid #e5e5e5;
  }
  .check::before {
    right: 50%;
  }
  .check::after {
    right: 50%;
  }
  .nocheck::before,
  .nocheck::after {
    right: 40%;
  }
}
.page-footer {
  background-color: #ffffff;
  color: #283645;
}
.page-footer__slogan {
  margin: 0;
  padding: 40px 0 10px;
  font-size: 24px;
  line-height: 30px;
  text-align: center;
}
.page-footer__info-container {
  min-height: 280px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.page-footer__info {
  text-align: center;
}
.page-footer__info b {
  display: block;
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
}
.page-footer__link {
  font-size: 24px;
  line-height: 30px;
  color: #d22856;
  text-decoration: none;
  cursor: pointer;
}
.page-footer__link:hover {
  color: #283645;
  text-decoration: underline;
}
.page-footer__link:active {
  opacity: 0.3;
  text-decoration: none;
}
#yandex-map {
  min-height: 200px;
}
@media (min-width: 700px) {
  .page-footer__slogan {
    font-size: 40px;
    line-height: 50px;
  }
  .page-footer__info-container {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .page-footer__info {
    padding: 0 20px;
  }
}
.bottom-line {
  display: none;
}
.bottom-line_photo {
  display: flex;
  flex-direction: column;
  min-height: 245px;
  justify-content: space-around;
  align-items: center;
}
.bottom-line__copyright {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 130px;
  font-size: 14px;
  line-height: 18px;
}
@media (min-width: 700px) {
  .bottom-line {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    min-height: 130px;
  }
  .bottom-line__logo {
    width: 100%;
    height: 100%;
  }
}
@media (min-width: 1200px) {
  .bottom-line__copyright {
    min-width: 160px;
    font-size: 18px;
    line-height: 18px;
  }
}
.social {
  display: flex;
  justify-content: space-between;
  min-width: 180px;
}
.social-btn {
  font-size: 0;
  width: 50px;
  height: 50px;
  border: 3px solid #e9ebec;
  border-radius: 50%;
  background: url("../img/social-sprite.png") no-repeat;
}
.social-btn:hover {
  border-color: #283645;
}
.social-btn:active {
  opacity: 0.3;
}
.social-btn_tw {
  background-position: 13px 12px;
}
.social-btn_fb {
  background-position: -50px 12px;
}
.social-btn_yt {
  background-position: -113px 12px;
}
.slogan-wrapper {
  min-height: 185px;
  padding: 0 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.photo-slogan {
  margin: 0;
  text-align: center;
  font-size: 18px;
  line-height: 30px;
  color: #283645;
}
.photos__main-photo {
  max-height: 140px;
  width: 100%;
  height: auto;
}
.photos__wrapper {
  padding: 0 20px;
}
.photos__inner-wrapper {
  display: flex;
  align-items: center;
}
.photos__item {
  margin-bottom: 20px;
}
.photos__img {
  width: 100%;
  height: auto;
}
.photos__user-info {
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: #f2f2f2;
  font-size: 14px;
  line-height: 24px;
  color: #283645;
}
.photos__user-info_main {
  margin-bottom: 20px;
}
.photos__user-name {
  font-weight: bold;
  margin-right: 5px;
}
.photos__post-time {
  font-size: 12px;
  text-transform: uppercase;
}
.photos__like-btn {
  width: 16px;
  height: 16px;
  margin-right: 5%;
  border: none;
  background: url("../img/like-sprite.png") no-repeat 1px 2px;
}
.photos__like-btn:hover {
  background-position: 1px -19px;
}
.photos__like-btn:active {
  opacity: 0.6;
}
.photos__like-btn:focus {
  outline: none;
}
.photos__likes {
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: #d22856;
}
.photos__likes-count {
  font-size: 14px;
}
@media (min-width: 700px) {
  .photos__main-photo {
    max-height: 500px;
  }
  .photos__wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
    padding: 0;
  }
  .photos__user-info_main {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .photos__user-info_main .photos__description {
    order: 2;
    width: 100%;
  }
  .photos__user-info_main .photos__inner-wrapper_likes {
    margin-left: auto;
  }
  .photos__user-info_main .photos__likes {
    margin-right: 10px;
  }
  .photos__item {
    display: flex;
    flex-direction: column;
    width: 48%;
  }
  .photos__user-info {
    display: flex;
    flex-grow: 1;
  }
  .photos__description {
    flex-grow: 1;
  }
  .photos__like-btn {
    order: 2;
    margin-left: auto;
    margin-right: 0;
  }
}
@media (min-width: 1200px) {
  .photos__item {
    display: flex;
    flex-direction: column;
    width: 300px;
  }
}
.add-photo__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  background-color: #f2f2f2;
  padding: 0 20px;
  padding-top: 20px;
}
.add-photo__photo-container {
  width: auto;
  max-width: 100%;
  height: auto;
  margin: 0 auto;
}
.add-photo__photo {
  max-width: 100%;
  max-height: auto;
}
.add-photo__ctrl {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: stretch;
}
.add-photo__settings {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 0 20%;
}
.cadr_active,
.fill_active,
.contrast_active {
  display: none;
}
.settings-icon {
  display: block;
  width: 60px;
  height: 60px;
  background: url("../img/add-photo-sprite.png") no-repeat;
  cursor: pointer;
}
.cadr-icon {
  background-position: 8px 8px;
}
.cadr-icon:hover {
  background-position: 8px -65px;
}
.cadr_active:checked + .cadr-icon {
  background-position: 8px -143px;
}
.fill-icon {
  background-position: -72px 8px;
}
.fill-icon:hover {
  background-position: -72px -65px;
}
.fill_active:checked + .fill-icon {
  background-position: -72px -143px;
}
.contrast-icon {
  background-position: -152px 8px;
}
.contrast-icon:hover {
  background-position: -152px -65px;
}
.contrast_active:checked + .contrast-icon {
  background-position: -152px -143px;
}
.settings-slide {
  display: none;
  width: auto;
  height: 2px;
  background-color: #283645;
}
.settings-slider {
  position: relative;
  top: -6px;
  display: block;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  border: 2px solid #d22856;
  background-color: #f2f2f2;
  cursor: pointer;
}
.settings-slider:hover {
  background-color: #d22856;
}
.add-photo__btns {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  min-height: 200px;
  padding: 20px 20%;
}
.add-photo__btn_add {
  width: 100%;
  padding: 15px 0;
  background-color: transparent;
  color: #d22856;
  border: 3px solid #d22856;
  border-radius: 30px;
  text-align: center;
  font-size: 18px;
  line-height: 18px;
  font-weight: bold;
}
.add-photo__btn_add:hover {
  background-color: #d22856;
  color: #ffffff;
}
.add-photo__btn_add:active {
  color: rgba(255, 255, 255, 0.3);
}
.add-photo__btn_cancel {
  width: 100%;
  padding: 15px 0;
  background-color: transparent;
  border: 3px solid #283645;
  border-radius: 30px;
  color: #283645;
  text-align: center;
  font-size: 18px;
  line-height: 18px;
  font-weight: bold;
  opacity: 0.1;
}
.add-photo__btn_cancel:hover {
  opacity: 0.3;
}
.add-photo__btn_cancel:active {
  background-color: #283645;
  color: rgba(255, 255, 255, 0.3);
}
@media (min-width: 700px) {
  .add-photo__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    padding: 0;
    padding-top: 55px;
    padding-bottom: 60px;
  }
  .add-photo__photo-container {
    flex-basis: 48%;
    flex-shrink: 0;
    margin: 0;
  }
  .add-photo__photo {
    width: 100%;
    height: auto;
  }
  .add-photo__ctrl {
    flex-basis: 45%;
    justify-content: space-between;
  }
  .add-photo__settings {
    flex-direction: column;
    padding: 0;
  }
  .add-photo__setting {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    border-bottom: #dddfe0 1px solid;
  }
  .mobile-slide-container {
    display: none;
  }
  .settings-slide {
    display: block;
    width: 70%;
  }
  .add-photo__btns {
    justify-content: space-between;
    min-height: 130px;
    padding: 0;
    padding-right: 20px;
  }
}
@media (min-width: 1200px) {
  .add-photo__wrapper {
    justify-content: space-around;
    padding-top: 55px;
    padding-bottom: 60px;
  }
  .add-photo__btns {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    padding: 0;
  }
  .add-photo__btn {
    width: 44%;
  }
}
