.main-nav {
  position: relative;
  z-index: 10;

  transition: 0.3s;
}

.main-nav_closed {
  background-color: rgba(0, 0, 0, 0.3);
}

.main-nav_opened {
  background-color: #283645;
}

.main-nav__visible {
  display: flex;
  align-items: center;
  min-height: 70px;
  padding: 0px 20px;
  background-color: transparent;
}

.main-nav__toggle {
  position: relative;
  margin-left: auto;
  flex-basis: 50px;
  height: 25px;
  background-color: transparent;
  border: none;
}

.main-nav_opened .main-nav__toggle {
  &:before,
  &:after {
    content: "";
    position: absolute;
    top: 10px;
    right: 0px;
    width: 30px;
    height: 5px;
    background-color: #ffffff;
    border-radius: 3px;
  }

  &:before {
    transform: rotate(45deg);
  }

  &:after {
    transform: rotate(-45deg);
  }

  &:hover::before,
  &:hover::after {
    background-color: #d22856;
  }

  &:active::before,
  &:active::after {
    opacity: 0.3;
  }
}

.main-nav_closed .main-nav__toggle {

  &::before  {
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: #ffffff;
    width: 50px;
    height: 4px;

    box-shadow: 0 10px 0 0 #ffffff,
                0 20px 0 0 #ffffff,
  }

  &:hover::before {
    background-color: #d22856;
    box-shadow: 0 10px 0 0 #d22856,
                0 20px 0 0 #d22856,
  }

  &:active::before {
    opacity: 0.3;
  }
}

.main-nav__list {
  position: absolute;
  z-index: 1;
  top: 70px;
  left: 0;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-nav__item a {
  display: block;
  width: 100%;
  padding: 15px 0;

  border-top: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid #000000;
  background-color: #283645;

  font-size: 18px;
  line-height: 32px;
  font-weight: bold;
  text-align: center;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;

  &:hover {
    background-color: #202e3c;
  }

  &:active {
    box-shadow: 0 0 5px 2px #000000 inset;
  }
}

@media @mobile-and-tablet-width-only {

  .main-nav_closed .main-nav__list {
    display: none;
  }

  @keyframes slidedown {
    0% {transform: translateY(-1000px);}
    100% {transform: translateY(0px);}
  }

  .main-nav_opened .main-nav__list {
    display: block;
    animation: slidedown 0.5s;
  }
}

.main-nav_nojs .main-nav__visible {
  flex-direction: column;
  background-color: #283645;
}

.main-nav_nojs .main-nav__list {
  position: static;
  display: block;
}

.main-nav_nojs .main-nav__toggle {
  display: none;
}

.main-nav_nojs .main-nav__logo {
  padding: 10px;
}


@media @tablet-width {

  .main-nav__visible {
    min-height: 110px;
    padding: 0;
  }

  .main-nav__list {
    top: 110px;
  }
}

@media @desktop-width {

  .main-nav__logo {
    margin-right: 170px;
  }

  .main-nav__toggle {
    display: none;
  }

  .main-nav__list {
    position: static;

    display: flex;
    justify-content: space-between;
  }

  .main-nav__list .main-nav__item a {
    position: relative;
    display: block;
    padding: 75px;
    padding: 0;
    background-color: transparent;
    border: none;

    &:hover {
      background-color: transparent;
    }

    &:hover::after {
      content: "";
      position: absolute;
      bottom: -10px;
      left: 0;
      right: 0;
      height: 2px;
      background-color: #ffffff;
    }

    &:active {
      color: rgba(255,255,255,0.3);
    }

    &:active::after {
      display: none;
    }
  }

  .main-nav__list .main-nav__item_current a {

    &:hover {
      color: #d22856;
    }

    &:hover::after {
      background-color: #d22856;
    }

    &:active {
      color: rgba(255,255,255,0.3);
    }

    &:active::after {
      display: none;
    }
  }
}
