.page-footer {
  background-color: #ffffff;
  color: #283645;
}

.page-footer__slogan {
  margin: 0;
  padding: 40px 0 10px;
  font-size: 24px;
  line-height: 30px;
  text-align: center;
}

.page-footer__info-container {
  min-height: 280px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.page-footer__info {
  text-align: center;
}

.page-footer__info b {
  display: block;
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
}

.page-footer__link {
  font-size: 24px;
  line-height: 30px;
  color: #d22856;
}

#yandex-map {
  min-height: 200px;
}

.bottom-line {
  display: none;
}

@media @tablet-width {

  .bottom-line {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .social {
    display: flex;
    justify-content: space-between;
    min-width: 180px;
  }

  .social-btn {
    font-size: 0;
    width: 50px;
    height: 50px;

    border: 3px solid #e9ebec;
    border-radius: 50%;

    background: url("../img/social-sprite.png") no-repeat;

    &:hover {
      border-color: #283645;
    }

    &:active {
       opacity: 0.3;
      }
  }

  .social-btn_tw {
    background-position: 13px 12px;
  }

  .social-btn_fb {
    background-position: -50px 12px;
  }

  .social-btn_yt {
    background-position: -113px 12px;
  }




}
