.page-header {
  display: flex;
  flex-direction: column;

  background-image:  url("../img/page-header-bg.jpg");
  background-repeat:  no-repeat;
  background-position:  center center;
  background-size: cover;
}

.page-header__inner-wrapper {
  .container-fluid();

  background-image:  url("../img/page-header-bg_hand.png");
  background-repeat:  no-repeat;
  background-position:  center top 90px;
  background-size: 320px;
}

.photo-body .page-header__inner-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 173px;
  background-image: none;
}

.page-header__photo-title {
  margin: 0;
  color: rgba(255,255,255,0.8);
  text-align: center;
  font-size: 24px;
  font-weight: 100;
}

@media @tablet-width {

  .page-header__inner-wrapper {
    background-position:  bottom right 5%;
    background-size: 470px;
  }
}
