.page-footer {
  background-color: #ffffff;
  color: #283645;
}

.page-footer__slogan {
  margin: 0;
  padding: 40px 0 10px;
  font-size: 24px;
  line-height: 30px;
  text-align: center;
}

.page-footer__info-container {
  min-height: 280px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.page-footer__info {
  text-align: center;
}

.page-footer__info b {
  display: block;
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
}

.page-footer__link {
  font-size: 24px;
  line-height: 30px;
  color: #d22856;
  text-decoration: none;
  cursor: pointer;

  &:hover {
    color: #283645;
    text-decoration: underline;
  }

  &:active {
    opacity: 0.3;
    text-decoration: none;
  }
}

#yandex-map {
  min-height: 200px;
}

@media @tablet-width {

  .page-footer__slogan {
    font-size: 40px;
    line-height: 50px;
  }

  .page-footer__info-container {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .page-footer__info {
    padding: 0 20px;
  }





}
